@model IEnumerable<Category>

<div class="sidebar-box">
    <h3 class="heading">Categories</h3>
    <ul class="categories">
        @if (Model?.Any() == true)
        {
            @foreach (var item in Model)
            {
                <li>
                    <a asp-controller="Category" asp-action="CategoryDetail" asp-route-categoryId="@(item?.CategoryId ?? 0)">
                        @(item?.CategoryName ?? "Unknown")
                        <span>@(item?.Blogs?.Count() ?? 0)</span>
                    </a>
                </li>
            }
        }
        else
        {
            <li>No categories available</li>
        }
    </ul>
</div>
